<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>100769010465-mctas5oefoel1iecpc9emv4lnj7sjc6t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.100769010465-mctas5oefoel1iecpc9emv4lnj7sjc6t</string>
	<key>API_KEY</key>
	<string>AIzaSyD1rD0fQsuJqDEtEmDAw7CyvBQ9srRT29Y</string>
	<key>GCM_SENDER_ID</key>
	<string>100769010465</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.cryptoWallet</string>
	<key>PROJECT_ID</key>
	<string>crypto-wallet-51179</string>
	<key>STORAGE_BUCKET</key>
	<string>crypto-wallet-51179.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:100769010465:ios:193c59d9bf7ad47c1ae460</string>
</dict>
</plist>